<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="userServiceImpl" class="_aop_sound_code_analyze._springaop_vs_aspectj.UserServiceImpl"/>

    <!--配置切面类, 用于获取通知-->
    <bean id="aspect" class="_aop_sound_code_analyze._springaop_vs_aspectj.MyAspect2"/>


    <!--

    -->
    <aop:config>
        <aop:aspect ref="aspect">
            <aop:pointcut id="pointCut" expression="execution(* _aop_sound_code_analyze._springaop_vs_aspectj.*.*(..))" ></aop:pointcut>
            <!--
                <aop:around>
                method:MyAround, 是切面类中的一个方法名,
                为什么能够获取? 上面配置了切面类的引用
                pointcut-ref:切入点引用
            -->
            <aop:around method="myAround" pointcut-ref="pointCut" ></aop:around>
        </aop:aspect>

    </aop:config>

</beans>