<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="listApp" class="_spring_jie_mi._review_20180327._2_part_IOC.ListApp">
        <property name="para1">
            <list>
                <value> "123" </value>
                <value> 123 </value>
            </list>
        </property>

    <property name="para2">
        <list>
            <value> 456 </value>
            <value> 123 </value>
        </list>
    </property>
    </bean>

    <bean id="listApp2" class="_spring_jie_mi._review_20180327._2_part_IOC.ListApp">
    </bean>

</beans>