<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="Student" type="_begin_to_learn._5_transaction_spring.Student2"/>
        <typeAlias alias="Teacher" type="_begin_to_learn._5_transaction_spring.Teacher" />
    </typeAliases>
</configuration>

